Source: ros-kilted-foxglove-compressed-video-transport
Section: misc
Priority: optional
Maintainer: Bernd Pfrommer <bernd.pfrommer@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kilted-ament-cmake, ros-kilted-ament-cmake-clang-format <!nocheck>, ros-kilted-ament-cmake-gtest <!nocheck>, ros-kilted-ament-cmake-ros, ros-kilted-ament-lint-auto <!nocheck>, ros-kilted-ament-lint-common <!nocheck>, ros-kilted-ffmpeg-encoder-decoder, ros-kilted-foxglove-msgs, ros-kilted-image-transport, ros-kilted-pluginlib, ros-kilted-rclcpp, ros-kilted-rcutils, ros-kilted-ros-environment, ros-kilted-sensor-msgs, ros-kilted-std-msgs, ros-kilted-ros-workspace, ros-kilted-rosidl-typesupport-fastrtps-c, ros-kilted-rosidl-typesupport-fastrtps-cpp
Homepage: http://www.ros.org/wiki/image_transport_plugins
Standards-Version: 3.9.2

Package: ros-kilted-foxglove-compressed-video-transport
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kilted-ffmpeg-encoder-decoder, ros-kilted-foxglove-msgs, ros-kilted-image-transport, ros-kilted-pluginlib, ros-kilted-rclcpp, ros-kilted-rcutils, ros-kilted-sensor-msgs, ros-kilted-std-msgs, ros-kilted-ros-workspace
Description: foxglove_compressed_video_transport provides a plugin to image_transport for transparently sending an image stream encoded in foxglove compressed video packets.
