Source: ros-jazzy-foxglove-compressed-video-transport
Section: misc
Priority: optional
Maintainer: Bernd Pfrommer <bernd.pfrommer@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ament-cmake, ros-jazzy-ament-cmake-clang-format <!nocheck>, ros-jazzy-ament-cmake-ros, ros-jazzy-ament-lint-auto <!nocheck>, ros-jazzy-ament-lint-common <!nocheck>, ros-jazzy-ffmpeg-encoder-decoder, ros-jazzy-foxglove-msgs, ros-jazzy-image-transport, ros-jazzy-pluginlib, ros-jazzy-rclcpp, ros-jazzy-rcutils, ros-jazzy-ros-environment, ros-jazzy-sensor-msgs, ros-jazzy-std-msgs, ros-jazzy-ros-workspace, ros-jazzy-rosidl-typesupport-fastrtps-c, ros-jazzy-rosidl-typesupport-fastrtps-cpp
Homepage: http://www.ros.org/wiki/image_transport_plugins
Standards-Version: 3.9.2

Package: ros-jazzy-foxglove-compressed-video-transport
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-ffmpeg-encoder-decoder, ros-jazzy-foxglove-msgs, ros-jazzy-image-transport, ros-jazzy-pluginlib, ros-jazzy-rclcpp, ros-jazzy-rcutils, ros-jazzy-sensor-msgs, ros-jazzy-std-msgs, ros-jazzy-ros-workspace
Description: foxglove_compressed_video_transport provides a plugin to image_transport for transparently sending an image stream encoded in foxglove compressed video packets.
