Source: ros-rolling-foxglove-compressed-video-transport
Section: misc
Priority: optional
Maintainer: Bernd Pfrommer <bernd.pfrommer@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-rolling-ament-cmake, ros-rolling-ament-cmake-clang-format <!nocheck>, ros-rolling-ament-cmake-gtest <!nocheck>, ros-rolling-ament-cmake-ros, ros-rolling-ament-lint-auto <!nocheck>, ros-rolling-ament-lint-common <!nocheck>, ros-rolling-ffmpeg-encoder-decoder, ros-rolling-foxglove-msgs, ros-rolling-image-transport, ros-rolling-pluginlib, ros-rolling-rclcpp, ros-rolling-rcutils, ros-rolling-ros-environment, ros-rolling-sensor-msgs, ros-rolling-std-msgs, ros-rolling-ros-workspace, ros-rolling-rosidl-typesupport-fastrtps-c, ros-rolling-rosidl-typesupport-fastrtps-cpp
Homepage: http://www.ros.org/wiki/image_transport_plugins
Standards-Version: 3.9.2

Package: ros-rolling-foxglove-compressed-video-transport
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-rolling-ffmpeg-encoder-decoder, ros-rolling-foxglove-msgs, ros-rolling-image-transport, ros-rolling-pluginlib, ros-rolling-rclcpp, ros-rolling-rcutils, ros-rolling-sensor-msgs, ros-rolling-std-msgs, ros-rolling-ros-workspace
Description: foxglove_compressed_video_transport provides a plugin to image_transport for transparently sending an image stream encoded in foxglove compressed video packets.
